<h1>Hello, {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p>
<div>
  <app-button
    [buttonType]="buttonType.flat"
    [buttonClass]="tags.length >= 5 ? 'disabled' : 'card'"
    (click)="resetForm()"
    [isDisabled]="tags.length >= 5"
    >Add Tag
  </app-button>
  <app-button [buttonType]="buttonType.flat" buttonClass="card" (click)="resetForm()"> Reset </app-button>
  <app-button
    [buttonType]="buttonType.flat"
    [buttonClass]="form.invalid ? 'disabled' : 'card'"
    type="submit"
    [isDisabled]="form.invalid">
    Login
  </app-button>
  @if (true) {
    <app-button [buttonType]="buttonType.fab" [icon]="iconsMap['tune']" [size]="24" (click)="toggleFilterBlock()" />
  }

  <app-button [icon]="iconsMap['account']" [buttonType]="buttonType.fab" [size]="24" />
  @if (userName) {
    <app-button [buttonType]="buttonType.flat" buttonClass="search" class="logout-btn" (click)="logout()">
      Logout
    </app-button>
  }
</div>
<div>
  <!-- <div class="filter" *ngIf="true">
  <p class="label">Sorting by:</p> -->

  <!-- <ng-container *ngFor="let name of buttons"> -->
  <ng-container *ngFor="let name of buttons">
    <app-button
      (click)="name === btnName.Search ? sortByWord(word.value) : sortByValue(name)"
      [buttonClass]="getSortDirectionArrow(name) || 'filter'"
      >{{ name === btnName.Count ? 'count of views' : name }}
    </app-button>
  </ng-container>

  <mat-form-field class="form-field" appearance="outline">
    <input #word class="input-el" matInput />
  </mat-form-field>
</div>

<router-outlet />
